body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
p{
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

#date {
   font-weight: bold;
   font-size: larger;

}
ul {
  padding: 20px;

}

li{
  margin-bottom: 6px;
  font-weight: 500;
}

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.btn-primary {
  background-color: #2563eb;
}

.btn-success {
  background-color: #16a34a;
}

.btn-warning {
  background-color: #f59e0b;
}

.btn-danger {
  background-color: #dc2626;
}

.status {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.progress {
  background-color: #16a34a;
  color: white;
  padding: 10px 16px;
  border-radius: 16px;
}

.status-text {
  background-color: #6B7280;
  color: white;
  padding: 10px 16px;
  border-radius: 16px;
}