body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

#date {
   font-weight: bold;
   font-size: larger;

}

button {
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

#startBtn {
  background-color: blue;
}

#completeBtn {
  background-color: green;
  margin-left: 10px;
}


button:hover {
  opacity: 0.6;
}

#status {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: grey;
  color: white;
  margin-top: 16px;
  border-radius: 20px;
  width: fit-content;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

#status.completed {
  background-color: green;
}
  
#progress {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: green;
  color: grey;
  margin-top: 16px;
  border-radius: 20px;
  width: fit-content;
  padding: 10px 20px;
  }

  #resetBtn {
    font-weight: bold;
  background-color: red;
  display: flex;
 
   margin: 10px auto 0;
  transition: opacity 0.3s; 
  cursor: pointer;
}
#resetBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}